<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
  <h1><%= @list.name %></h1>
</div>

<div>
  <% @bookmarks.each do |bookmark| %>
    <h2><%= bookmark.movie.title %></h2>
    <p><%= bookmark.movie.overview %></p>
    <p><%= bookmark.comment %></p>
    <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: {confirm: 'Are you sure?'}%>
  <% end %>
</div>

<div>
  <p class="btn btn-success"><%= link_to 'Add bookmark', new_list_bookmark_path(@list.id) %></p>
  <p class="btn btn-danger"><%= link_to 'Delete list', list_path(@list), method: :delete, data: {confirm: 'Are you sure?'} %></p>
  <p class="btn btn-primary"><%= link_to 'Back', lists_path %></p>
</div>
